@charset "UTF-8";
@font-face{
    font-family: "ubuntu-regular";
    src: url(../fonts/ubuntu-regular.ttf);
}
body{
    margin-top: 100px;
    font-family: "ubuntu-regular";
    font-size: 16px;
    background-color: #fff;
}
a:hover{text-decoration: none;}
input[type='file']{display: none;}
#wrapper { padding-left: 0;}
/*
        CLASSES GLOBAIS
*/
.modal-header{border-radius: 0;}
.ocultar{display: none;}
.jumbotron{background-color:#337ab7; color: white;}
.btn-dark{color: white; background-color: #222222; border: 1px solid #000;}
.btn-dark:hover{color: #FFFFFF; background-color: #333}
.page-header{padding-bottom: 0;}
.clear{clear: both;}
.font-bold{font-weight:bold;}
.panel-icon .glyphicon{ font-size: 50px;}
.panel-icon a{display: inline-block; width: 100%;}
.panel .badge{border-radius: 50%; min-width: 10px; padding: 3px 10px 6px 10px; font-size: 14px}
.panel .panel-heading{padding: 1em;}
.panel-success{border-color: #5CB85C;}
.panel-danger{border-color: #D9534F;}
.panel-success .badge{background-color: #5CB85C}
.panel-danger .badge{background-color: #D9534F}
.panel-primary .badge{background-color: #337ab7}
.panel-success a{color: #5CB85C}
.panel-danger a{color: #D9534F}
.panel-primary a{color:  #337ab7}
.panel-success .panel-heading{background-color: #5CB85C; border-color: #5CB85C; color: white;}
.panel-danger .panel-heading{background-color: #D9534F; border-color: #D9534F; color: white;}

.bg-azul{background: #0A87CC;padding: 0.625em 0;}
.bg-danger{ background: #D9534F;padding: 0.3em;color: white;}
.float-right{float: right;}
.float-left{float: left;}
.img-responsive{width: 100%;}
.img-center{display: block; margin:0 auto;}
.alert-success {
    color: #fff;
    background-color: #5CB85C;
    border-color: #5CB85C;
}
.alert-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
/*
        Menu & sidebar-menu
*/
.navbar-inverse{background: #337ab7;border-color: #337ab7;}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{color: white;}
.nav{font-size: 14px;}
.top-nav {padding: 0 15px;}
.top-nav>li {display: inline-block; float: left;}
.top-nav>li>a {padding-top: 15px; padding-bottom: 15px; line-height: 20px; color: white;}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {color: #fff; background-color: #000;}

.top-nav>.open>.dropdown-menu {float: left;  position: absolute;  margin-top: 0;  border: 1px solid rgba(0,0,0,.15);  border-top-left-radius: 0;  border-top-right-radius: 0;  background-color: #fff; -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);   box-shadow: 0 6px 12px rgba(0,0,0,.175);}

.top-nav>.open>.dropdown-menu>li>a {  white-space: normal;}
.side-nav>li>ul { padding: 0;}
.side-nav>li>ul>.active>a { color: white;  background-color: #080808;}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 0px 10px 30px;
    text-decoration: none;
    color: #000;
}
.side-nav>li>ul>li>a:hover { color: #fff;}
/*
        Footer
*/
#container-footer{ border-top: 1px solid rgba(0,0,0,.5);  margin-top: 3em;}
/*
        Section's
*/

#viewMapa{   min-height: 300px;}
#viewImgUser{  margin-bottom: 0.312em; max-height: 130px;}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
#container-login{
    border-top: 9px solid #222222;
    border-radius: 10px;
    padding: 4em;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #353526;
}
#container-login img{
    margin-top: 20%;
}
#container-login a{
    cursor: pointer;
}
/********************
        Páginas
*********************/
/** CADASTRAR IMÓVEIS**/
.viewFotos, .viewFotosDestaque{
    background-color: white;
    border: 2px solid #46b8da;
    padding: 10px;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.viewFotos img, .viewFotosDestaque img{
    display: block;
    max-height: 170px;
    margin: 10px auto;
    border: 3px solid white;
}
.viewFotos span, viewFotosDestaque span{
    margin-top: 10px;
}

.container-usuario .thumbnail{
    background-color: #D9534F;
}
.container-usuario .thumbnail p{
    color:white;
}
.container-usuario img, .container-configuracao img{margin: 0.625em auto;max-height: 170px;}

.container-usuario .thumbnail figcaption{
    background-color: white;
    padding: 10px;
}
/*
    IMOVEIS
*/
.list-imoveis{padding: 0 5em;}
.thumbnail{background: none;padding:0; overflow: hidden;}
.thumbnail img:hover {transform: scale(1.05);}
.thumbnail img {transition: all 0.3s ease 0s;}
.thumbnail  .dest-img{padding: 0.625em 0;background: #01A3D8;border-bottom:10px solid #005F7D;}
.thumbnail  .dest-img a{color: white;}
.thumbnail  .dest-img a:hover{text-decoration:none;}
.thumbnail .caption a{color: #005F7D; font-weight: bold; display: block;}
.thumbnail .caption a:hover{color: #005F7D; text-decoration:none;}
.thumbnail .caption .btn{color: white; text-decoration:none; font-weight:normal;}
.thumbnail .caption .btn:hover{color: #FFF; text-decoration:none;}
.thumbnail .dest-img .title-nome{font-weight:bold;}
.thumbnail .dest-img .title-endereco{font-weight: normal;}
.ic-qua, .ic-ba, .ic-gar, .ic-larg, .ic-comp, .ic-are{width: 18px;height: 16px; display:inline-block;}
.ic-larg{background: url(../imagens/icones.png) -3px -3px no-repeat;}
.ic-comp{background: url(../imagens/icones.png) -3px -21px no-repeat;}
.ic-are{background: url(../imagens/icones.png) -3px -39px no-repeat;}

.ic-qua{background: url(../imagens/icones.png) -26px -3px no-repeat;}
.ic-ba{background: url(../imagens/icones.png) -26px -21px no-repeat;}
.ic-gar{background: url(../imagens/icones.png) -26px -39px no-repeat;}
.ic-mais{width: 25px;height: 25px; display:inline-block; background: #01A3D8; text-align: center; color: white;}
.thumbnail hr{margin: 5px 0;}
.thumbnail img{min-width: 100px; max-width:350px; height: auto;}
.thumbnail .caption{color: #242415;}

/*
       MEDIAS
*/

@media(max-width: 990px){
    #container-login, #container-login img{margin-top: 0; border-radius: 0; border: none;}
}
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 260px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #337ab7;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 260px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
    #wrapper {
        padding-left: 260px;
    }

    #page-wrapper {
        padding: 10px;
    }
}